.DS_Store
MailAPI/node_modules/.package-lock.json
MailAPI/node_modules/asynckit/bench.js
MailAPI/node_modules/asynckit/index.js
MailAPI/node_modules/asynckit/LICENSE
MailAPI/node_modules/asynckit/package.json
MailAPI/node_modules/asynckit/parallel.js
MailAPI/node_modules/asynckit/README.md
MailAPI/node_modules/asynckit/serial.js
MailAPI/node_modules/asynckit/serialOrdered.js
MailAPI/node_modules/asynckit/stream.js
MailAPI/node_modules/asynckit/lib/abort.js
MailAPI/node_modules/asynckit/lib/async.js
MailAPI/node_modules/asynckit/lib/defer.js
MailAPI/node_modules/asynckit/lib/iterate.js
MailAPI/node_modules/asynckit/lib/readable_asynckit.js
MailAPI/node_modules/asynckit/lib/readable_parallel.js
MailAPI/node_modules/asynckit/lib/readable_serial_ordered.js
MailAPI/node_modules/asynckit/lib/readable_serial.js
MailAPI/node_modules/asynckit/lib/state.js
MailAPI/node_modules/asynckit/lib/streamify.js
MailAPI/node_modules/asynckit/lib/terminator.js
MailAPI/node_modules/axios/CHANGELOG.md
MailAPI/node_modules/axios/index.d.cts
MailAPI/node_modules/axios/index.d.ts
MailAPI/node_modules/axios/index.js
MailAPI/node_modules/axios/LICENSE
MailAPI/node_modules/axios/MIGRATION_GUIDE.md
MailAPI/node_modules/axios/package.json
MailAPI/node_modules/axios/README.md
MailAPI/node_modules/axios/SECURITY.md
MailAPI/node_modules/axios/dist/axios.js
MailAPI/node_modules/axios/dist/axios.js.map
MailAPI/node_modules/axios/dist/axios.min.js
MailAPI/node_modules/axios/dist/axios.min.js.map
MailAPI/node_modules/axios/dist/browser/axios.cjs
MailAPI/node_modules/axios/dist/browser/axios.cjs.map
MailAPI/node_modules/axios/dist/esm/axios.js
MailAPI/node_modules/axios/dist/esm/axios.js.map
MailAPI/node_modules/axios/dist/esm/axios.min.js
MailAPI/node_modules/axios/dist/esm/axios.min.js.map
MailAPI/node_modules/axios/dist/node/axios.cjs
MailAPI/node_modules/axios/dist/node/axios.cjs.map
MailAPI/node_modules/axios/lib/axios.js
MailAPI/node_modules/axios/lib/utils.js
MailAPI/node_modules/axios/lib/adapters/adapters.js
MailAPI/node_modules/axios/lib/adapters/http.js
MailAPI/node_modules/axios/lib/adapters/README.md
MailAPI/node_modules/axios/lib/adapters/xhr.js
MailAPI/node_modules/axios/lib/cancel/CanceledError.js
MailAPI/node_modules/axios/lib/cancel/CancelToken.js
MailAPI/node_modules/axios/lib/cancel/isCancel.js
MailAPI/node_modules/axios/lib/core/Axios.js
MailAPI/node_modules/axios/lib/core/AxiosError.js
MailAPI/node_modules/axios/lib/core/AxiosHeaders.js
MailAPI/node_modules/axios/lib/core/buildFullPath.js
MailAPI/node_modules/axios/lib/core/dispatchRequest.js
MailAPI/node_modules/axios/lib/core/InterceptorManager.js
MailAPI/node_modules/axios/lib/core/mergeConfig.js
MailAPI/node_modules/axios/lib/core/README.md
MailAPI/node_modules/axios/lib/core/settle.js
MailAPI/node_modules/axios/lib/core/transformData.js
MailAPI/node_modules/axios/lib/defaults/index.js
MailAPI/node_modules/axios/lib/defaults/transitional.js
MailAPI/node_modules/axios/lib/env/data.js
MailAPI/node_modules/axios/lib/env/README.md
MailAPI/node_modules/axios/lib/env/classes/FormData.js
MailAPI/node_modules/axios/lib/helpers/AxiosTransformStream.js
MailAPI/node_modules/axios/lib/helpers/AxiosURLSearchParams.js
MailAPI/node_modules/axios/lib/helpers/bind.js
MailAPI/node_modules/axios/lib/helpers/buildURL.js
MailAPI/node_modules/axios/lib/helpers/callbackify.js
MailAPI/node_modules/axios/lib/helpers/combineURLs.js
MailAPI/node_modules/axios/lib/helpers/cookies.js
MailAPI/node_modules/axios/lib/helpers/deprecatedMethod.js
MailAPI/node_modules/axios/lib/helpers/formDataToJSON.js
MailAPI/node_modules/axios/lib/helpers/formDataToStream.js
MailAPI/node_modules/axios/lib/helpers/fromDataURI.js
MailAPI/node_modules/axios/lib/helpers/HttpStatusCode.js
MailAPI/node_modules/axios/lib/helpers/isAbsoluteURL.js
MailAPI/node_modules/axios/lib/helpers/isAxiosError.js
MailAPI/node_modules/axios/lib/helpers/isURLSameOrigin.js
MailAPI/node_modules/axios/lib/helpers/null.js
MailAPI/node_modules/axios/lib/helpers/parseHeaders.js
MailAPI/node_modules/axios/lib/helpers/parseProtocol.js
MailAPI/node_modules/axios/lib/helpers/readBlob.js
MailAPI/node_modules/axios/lib/helpers/README.md
MailAPI/node_modules/axios/lib/helpers/speedometer.js
MailAPI/node_modules/axios/lib/helpers/spread.js
MailAPI/node_modules/axios/lib/helpers/throttle.js
MailAPI/node_modules/axios/lib/helpers/toFormData.js
MailAPI/node_modules/axios/lib/helpers/toURLEncodedForm.js
MailAPI/node_modules/axios/lib/helpers/validator.js
MailAPI/node_modules/axios/lib/helpers/ZlibHeaderTransformStream.js
MailAPI/node_modules/axios/lib/platform/index.js
MailAPI/node_modules/axios/lib/platform/browser/index.js
MailAPI/node_modules/axios/lib/platform/browser/classes/Blob.js
MailAPI/node_modules/axios/lib/platform/browser/classes/FormData.js
MailAPI/node_modules/axios/lib/platform/browser/classes/URLSearchParams.js
MailAPI/node_modules/axios/lib/platform/node/index.js
MailAPI/node_modules/axios/lib/platform/node/classes/FormData.js
MailAPI/node_modules/axios/lib/platform/node/classes/URLSearchParams.js
MailAPI/node_modules/base-64/base64.js
MailAPI/node_modules/base-64/LICENSE-MIT.txt
MailAPI/node_modules/base-64/package.json
MailAPI/node_modules/base-64/README.md
MailAPI/node_modules/combined-stream/License
MailAPI/node_modules/combined-stream/package.json
MailAPI/node_modules/combined-stream/Readme.md
MailAPI/node_modules/combined-stream/yarn.lock
MailAPI/node_modules/combined-stream/lib/combined_stream.js
MailAPI/node_modules/delayed-stream/.npmignore
MailAPI/node_modules/delayed-stream/License
MailAPI/node_modules/delayed-stream/Makefile
MailAPI/node_modules/delayed-stream/package.json
MailAPI/node_modules/delayed-stream/Readme.md
MailAPI/node_modules/delayed-stream/lib/delayed_stream.js
MailAPI/node_modules/follow-redirects/debug.js
MailAPI/node_modules/follow-redirects/http.js
MailAPI/node_modules/follow-redirects/https.js
MailAPI/node_modules/follow-redirects/index.js
MailAPI/node_modules/follow-redirects/LICENSE
MailAPI/node_modules/follow-redirects/package.json
MailAPI/node_modules/follow-redirects/README.md
MailAPI/node_modules/form-data/index.d.ts
MailAPI/node_modules/form-data/License
MailAPI/node_modules/form-data/package.json
MailAPI/node_modules/form-data/Readme.md
MailAPI/node_modules/form-data/README.md.bak
MailAPI/node_modules/form-data/lib/browser.js
MailAPI/node_modules/form-data/lib/form_data.js
MailAPI/node_modules/form-data/lib/populate.js
MailAPI/node_modules/mailgun/.npmignore
MailAPI/node_modules/mailgun/mailgun.js
MailAPI/node_modules/mailgun/package.json
MailAPI/node_modules/mailgun/readme.md
MailAPI/node_modules/mailgun.js/CHANGELOG.md
MailAPI/node_modules/mailgun.js/client.d.ts
MailAPI/node_modules/mailgun.js/domains.d.ts
MailAPI/node_modules/mailgun.js/domainsCredentials.d.ts
MailAPI/node_modules/mailgun.js/domainsTags.d.ts
MailAPI/node_modules/mailgun.js/domainsTemplates.d.ts
MailAPI/node_modules/mailgun.js/error.d.ts
MailAPI/node_modules/mailgun.js/events.d.ts
MailAPI/node_modules/mailgun.js/formDataBuilder.d.ts
MailAPI/node_modules/mailgun.js/index.d.ts
MailAPI/node_modules/mailgun.js/ip-pools.d.ts
MailAPI/node_modules/mailgun.js/ips.d.ts
MailAPI/node_modules/mailgun.js/lists.d.ts
MailAPI/node_modules/mailgun.js/mailgun.node.js
MailAPI/node_modules/mailgun.js/mailgun.node.js.LICENSE.txt
MailAPI/node_modules/mailgun.js/mailgun.web.js
MailAPI/node_modules/mailgun.js/mailgun.web.js.LICENSE.txt
MailAPI/node_modules/mailgun.js/mailListMembers.d.ts
MailAPI/node_modules/mailgun.js/messages.d.ts
MailAPI/node_modules/mailgun.js/multipleValidation.d.ts
MailAPI/node_modules/mailgun.js/package.json
MailAPI/node_modules/mailgun.js/README.md
MailAPI/node_modules/mailgun.js/request.d.ts
MailAPI/node_modules/mailgun.js/routes.d.ts
MailAPI/node_modules/mailgun.js/stats.d.ts
MailAPI/node_modules/mailgun.js/suppressions.d.ts
MailAPI/node_modules/mailgun.js/validate.d.ts
MailAPI/node_modules/mailgun.js/version.md
MailAPI/node_modules/mailgun.js/webhooks.d.ts
MailAPI/node_modules/mailgun.js/common/NavigationThruPages.d.ts
MailAPI/node_modules/mailgun.js/interfaces/APIErrorOptions.d.ts
MailAPI/node_modules/mailgun.js/interfaces/ApiResponse.d.ts
MailAPI/node_modules/mailgun.js/interfaces/DomainCredentials.d.ts
MailAPI/node_modules/mailgun.js/interfaces/Domains.d.ts
MailAPI/node_modules/mailgun.js/interfaces/DomainTags.d.ts
MailAPI/node_modules/mailgun.js/interfaces/DomainTemplates.d.ts
MailAPI/node_modules/mailgun.js/interfaces/DomainTracking.d.ts
MailAPI/node_modules/mailgun.js/interfaces/Events.d.ts
MailAPI/node_modules/mailgun.js/interfaces/IFormData.d.ts
MailAPI/node_modules/mailgun.js/interfaces/IMailgunClient.d.ts
MailAPI/node_modules/mailgun.js/interfaces/IpPools.d.ts
MailAPI/node_modules/mailgun.js/interfaces/Ips.d.ts
MailAPI/node_modules/mailgun.js/interfaces/lists.d.ts
MailAPI/node_modules/mailgun.js/interfaces/mailListMembers.d.ts
MailAPI/node_modules/mailgun.js/interfaces/Messages.d.ts
MailAPI/node_modules/mailgun.js/interfaces/MultipleValidation.d.ts
MailAPI/node_modules/mailgun.js/interfaces/NavigationThruPages.d.ts
MailAPI/node_modules/mailgun.js/interfaces/Options.d.ts
MailAPI/node_modules/mailgun.js/interfaces/RequestOptions.d.ts
MailAPI/node_modules/mailgun.js/interfaces/routes.d.ts
MailAPI/node_modules/mailgun.js/interfaces/StatsOptions.d.ts
MailAPI/node_modules/mailgun.js/interfaces/Supressions.d.ts
MailAPI/node_modules/mailgun.js/interfaces/Validate.d.ts
MailAPI/node_modules/mailgun.js/interfaces/Webhooks.d.ts
MailAPI/node_modules/mailgun.js/interfaces/Suppressions/Bounce.d.ts
MailAPI/node_modules/mailgun.js/interfaces/Suppressions/Complaint.d.ts
MailAPI/node_modules/mailgun.js/interfaces/Suppressions/Suppressions.d.ts
MailAPI/node_modules/mailgun.js/interfaces/Suppressions/Unsubscribe.d.ts
MailAPI/node_modules/mailgun.js/interfaces/Suppressions/WhiteList.d.ts
MailAPI/node_modules/mime-db/db.json
MailAPI/node_modules/mime-db/HISTORY.md
MailAPI/node_modules/mime-db/index.js
MailAPI/node_modules/mime-db/LICENSE
MailAPI/node_modules/mime-db/package.json
MailAPI/node_modules/mime-db/README.md
MailAPI/node_modules/mime-types/HISTORY.md
MailAPI/node_modules/mime-types/index.js
MailAPI/node_modules/mime-types/LICENSE
MailAPI/node_modules/mime-types/package.json
MailAPI/node_modules/mime-types/README.md
MailAPI/node_modules/proxy-from-env/.eslintrc
MailAPI/node_modules/proxy-from-env/.travis.yml
MailAPI/node_modules/proxy-from-env/index.js
MailAPI/node_modules/proxy-from-env/LICENSE
MailAPI/node_modules/proxy-from-env/package.json
MailAPI/node_modules/proxy-from-env/README.md
MailAPI/node_modules/proxy-from-env/test.js
MailAPI/node_modules/url-join/.travis.yml
MailAPI/node_modules/url-join/CHANGELOG.md
MailAPI/node_modules/url-join/LICENSE
MailAPI/node_modules/url-join/package.json
MailAPI/node_modules/url-join/README.md
MailAPI/node_modules/url-join/bin/changelog
MailAPI/node_modules/url-join/lib/url-join.js
MailAPI/node_modules/url-join/test/tests.js

# Local Netlify folder
.netlify
MailAPI/node_modules/dotenv/CHANGELOG.md
MailAPI/node_modules/dotenv/config.d.ts
MailAPI/node_modules/dotenv/config.js
MailAPI/node_modules/dotenv/LICENSE
MailAPI/node_modules/dotenv/package.json
MailAPI/node_modules/dotenv/README.md
MailAPI/node_modules/dotenv/lib/cli-options.js
MailAPI/node_modules/dotenv/lib/env-options.js
MailAPI/node_modules/dotenv/lib/main.d.ts
MailAPI/node_modules/dotenv/lib/main.js
MailAPI/.env
