@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
    font-family: "Roboto", sans-serif;
    margin: 0px;
    padding: 0px;
    transition-duration: 0.5s;
}

body {
    background-image: url(./images/leaves.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.navBar {
    max-width: 100vw;
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    height: fit-content;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    font-weight: 200;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    z-index: 2;
    padding-bottom: 1%;
}

.navButton {
    height: 45px;
    width: 70%;
    font-size: 15px;
    font-weight: 300;
    color: white;
    font-family: "Roboto", sans-serif;
    border-radius: 10px;
    border: none;
    background-color: #0c987e;
    margin: auto;
}

.navButton:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.widgetTitle {
    font-weight: 300;
}
.navTitle {
    text-align: center;
    font-size: 30px;
    display: flex;
    flex-direction: column;
}

.widgetFormContainer {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
}

.widget {
    width: 290px;
    height: 290px;
    margin: 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    border-radius: 10px;
    margin: 1%;
}

.emailInput {
    width: 90%;
    height: 30px;
}

.maxMoistureInput {
    width: 50%;
    height: 30px;
}

.minMoistureInput {
    width: 50%;
    height: 30px;
}

.notificationFrequencyInput {
    width: 50%;
    height: 30px;
}

.input {
    text-align: center;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 15px;
}

.emailAddress {
    background-color: #6c1553df;
}

.minMoisture {
    background-color: #db7624af;
}

.maxMoisture {
    background-color: #14c5d8be;
}

.notificationFrequency {
    background-color: #4c750ac3;
}

@media screen and (max-width: 768px) {
    .navBar {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .widget {
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width: 480px) {
    .widget {
        width: 250px;
        height: 250px;
    }
}
